<% provide :title, "概要" %>

<h2>Suggest!!について</h2>
<h1>開発理由</h1>
<div>Suggest!!で実現したいことは次の2つです<br><br>
  <ul>
    <li>人の目を気にせず、自らの意見を組織のために発信する</li>
    <li>公平な民意をとる</li>
  </ul>
  <p>Suggest!!は匿名提案投稿及び、提案に対して匿名で肯定・否定の意思を伝えられます。<br>つまらない忖度なしですべての人間が公平な目線で意見のジャッジを受けることができます。</p>

  Suggest!!を活用すれば第三者の目を気にすることなく、提案ができ、かつ自分の意見に対する民意を知ることができます。
  <br>
  自分の意見に対する支持が予想より高ければ成功体験になりどんどんクリエイティブな思考になるでしょう。<br>
  また、自分の意見に対する支持が予想より低かった場合でも、その事実を知るのはあなたのみです。<br>

  Suggest!!を使い、あなたも組織の発展に貢献してみませんか?<br><br>

  #追記
  バグを発見した場合、三好までご連絡ください。
  <br>
  また、実装して欲しい機能などのご要望がございましたら、ご相談ください。

</div>
