<% provide :title  %>



<main role="main" class="container">
  <div class="jumbotron">
    <h1><span class="title">S</span>UGGEST!!</h1>
    <p>この例は、トップナビゲーションバーがどのように動作するかを説明する簡単なテスト。スクロールバーを移動させ、ナビゲーションバーが最上部に達すると固定されたままになる。</p>
    <%= link_to "Signup", new_user_registration_path, class: "btn btn-secondary" %>
  </div>
</main>

<%= render "shared/post_index"%>
<%# <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
//JavaScriptプラグインの設定など %>
